.searchBarContainer{
    background-color: lightblue;
    padding: 0.4rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.customSearchBar{
    display: inline-flex;
}
.InputAndResult{
position: relative;
}
.Results{
    background-color: black;
    width: 100%;
    padding: 0.4rem;
    font-weight: 800;
    font-size: small;

    color: white;
    position: absolute;
    top:-100vw;
}
.Input{
    width: 60vw;
    height: 100%;
    color: black;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    outline: none;
    padding-left: 0.4rem;
}
.Icon{
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    background-color: black;
    border-top-right-radius: 0.5rem;border-bottom-right-radius: 0.5rem;
    
}